body {
    height: 100%;
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}